    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                <!-- secondary sidebar switch -->
                <sidebar-secondary-toggle ng-class="{ 'uk-hidden-large': secondarySidebarHiddenLarge }"></sidebar-secondary-toggle>
                <!-- Navigation menu -->
                <div id="menu_top_dropdown" class="uk-float-left">
                    <div class="uk-float-left uk-hidden-small">
                        <a ui-sref="restricted.contacts.index" data-uk-tooltip title="Contacts" class="top_menu_toggle uk-float-left"><i class="md-icon material-icons md-24">contact_phone</i></a>

                        <a ui-sref="restricted.leads.index" data-uk-tooltip title="Leads" class="top_menu_toggle uk-float-left"><i class="md-icon material-icons md-24">star</i></a>

                        <div class="uk-float-left">
                            <div class="uk-button-dropdown"  data-uk-dropdown="{pos:'bottom-center'}">
                                <a href="" class="top_menu_toggle"><i class="md-icon material-icons md-24 md-light">shopping_cart</i></a>
                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-flip" style="right: auto !important;">
                                    <ul class="uk-nav">
                                        <li ><a ui-sref="restricted.purchasesOrders.list"  class="uk-dropdown-close"> sample sub menu </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="uk-button-dropdown uk-visible-small" data-uk-dropdown="{mode:'click'}" >
                        <a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
                        <div class="uk-dropdown uk-dropdown-width-3">
                            <div class="uk-grid uk-dropdown-grid" data-uk-grid-margin>
                                <div class="uk-width-1-1">
                                    <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-bottom uk-text-center">
                                        <a ui-sref="restricted.pages.mailbox" class="uk-margin-top">
                                            <i class="material-icons md-36">&#xE158;</i>
                                            <span class="uk-text-muted uk-display-block">Mailbox</span>
                                        </a>
                                        <a ui-sref="restricted.pages.invoices" class="uk-margin-top">
                                            <i class="material-icons md-36">&#xE53E;</i>
                                            <span class="uk-text-muted uk-display-block">Invoices</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" class="user_action_icon uk-visible-large" id="full_screen_toggle" full-screen-toggle><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                        <li><main-search-show></main-search-show></li>
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" ng-src="front/assets/img/avatars/user.png" alt="" add-image-prop/></a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a ui-sref="restricted.pages.user_profile">My profile</a></li>
                                    <li><a ui-sref="login">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- theme switcher -->
                <div ng-controller="themeCtrl" id="menu_top_dropdown" class="uk-float-right uk-hidden-small">
                    <div  class="uk-button-dropdown" data-uk-dropdown="{pos:'bottom-center'}">
                        <a href="" class="top_menu_toggle"><i class="md-icon material-icons md-24 md-light">&#xE3b7;</i></a>
                        <div  class="uk-dropdown uk-dropdown-flip">
                            <div id="style_switcher" ng-class="{'switcher_active':styleSwitcherActive}">
                                <div>
                                    <ul class="switcher_app_themes" id="theme_switcher">
                                        <li class="{{theme.name}}" ng-repeat="theme in themes" ng-click="changeTheme($event,theme)" ng-class="{'app_style_default': theme.class == '', 'active_theme': theme.class == main_theme }">
                                            <span class="app_color_main"></span>
                                            <span class="app_color_accent"></span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                       
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>
        <div class="header_main_search_form">
            <main-search-hide ng-if="!mainSearchPersistent"></main-search-hide>
            <form class="uk-form uk-autocomplete" data-uk-autocomplete="{source:'data/search_data.json'}">
                <input type="text" class="header_main_search_input" />
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
                <script type="text/autocomplete">
                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results" id="autocomplete_results">
                        {{~items}}
                        <li data-value="{{ $item.value }}">
                            <a href="{{ $item.url }}" class="item">
                                {{ $item.value }}<br>
                                <span class="uk-text-muted uk-text-small">{{{ $item.text }}}</span>
                            </a>
                        </li>
                        {{/items}}
                    </ul>
                </script>
            </form>
        </div>
    </header><!-- main header end -->