<div class="uk-grid">

    <!-- Customer -->
    <div class="uk-width-2-10" style="margin-top:18px;">
        <p>
            <input type="radio" name="customer_type" id="radio_demo_1" icheck ng-checked="lead.customer_type=='b2c'" ng-model="lead.customer_type" value="b2c" required />
            <label for="radio_demo_1" class="inline-label">B2C</label>
        </p>
    </div>
    <div class="uk-width-2-10" style="margin-top:18px;">
        <p>
            <input type="radio" name="customer_type" id="radio_demo_2" icheck ng-model="lead.customer_type" ng-checked="lead.customer_type=='b2c'" value="b2b" required="" />
            <label for="radio_demo_2" class="inline-label">B2B</label>
        </p>
    </div>
    <div class="uk-width-5-10">
        <div ng-show="lead.customer_type" class="parsley-row">
            <input  config="customers_selectize_config" options="potential_customers" position="bottom" ng-model="lead.customer_id" required selectize></input>
        </div>
    </div>
    <div class="uk-width-1-10" ng-show="lead.customer_type">
        <a href="#add_contact" data-uk-modal > <i class="md-icon material-icons" style="margin-top:13px;">add</i> </a>
    </div>
    
    
    <div class="uk-width-1-1 uk-margin-top uk-margin-medium-bottom">
        <div class="uk-form-row parsley-row">
            <label>Description</label>
            <textarea ng-model="lead.description" cols="30" rows="4" class="md-input" ng-model="form.input_k" md-input textarea-autosize required></textarea>
        </div>
    </div>
    <div class="uk-width-small-1-3 uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-input-group">
            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
            <label for="uk_dp_1">Start date</label>
            <input class="md-input" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="lead.start_date">
        </div>
    </div>
    <div class="uk-width-small-1-3 uk-width-medium-1-3 uk-margin-bottom">
        <div class="parsley-row">
            <label>Potential value</label>
            <input ng-model="lead.potential_value"  type="number" step="0.01" required class="md-input" md-input />
        </div>
    </div>
    <div class="uk-width-small-1-3 uk-width-medium-1-3 uk-margin-bottom">
        <div class="parsley-row">
            <label>Wining probability (%)</label>
            <input ng-model="lead.wining_probability"  type="number" step="0.01" required class="md-input" md-input />
        </div>
    </div>

    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-bottom">
        <div class="parsley-row">
            <input config="{create:false, labelField:'name', valueField:'name' , placeholder:'Tags' , searchField:'name' , maxItems:100}" options="leadsTags" position="bottom" ng-model="lead.tags" required selectize></input>
        </div>
    </div>
    
    
    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-bottom">
        <div class="parsley-row">
            <input config="{create:true, labelField:'name', valueField:'id' , placeholder:'members' , maxItems:100 , searchField:['name','mobile','email']}" options="employees" position="bottom" ng-model="lead.members" required selectize></input>
        </div>
    </div>

    
</div>