<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-10-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_menu" data-uk-dropdown="{pos:'bottom-right'}">
                            <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav">
                                    <li><a href="#">Action 1</a></li>
                                    <li><a href="#">Action 2</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="user_heading_avatar">
                            <div class="thumbnail">
                                <img ng-src="{{lead.avatar}}" alt="user avatar"/>
                            </div>
                        </div> -->
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">{{lead.customer.name}}</span>
                                <span class="sub-heading">{{lead.customer.type == 'company'? 'B2B' : 'B2C' }}</span>
                            </h2>
                            <ul class="user_stats">
                                <li>
                                    <h4 class="heading_a">{{lead.potential_value | currency}}<span class="sub-heading">Potential Value</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">{{lead.winning_propability}}<span class="sub-heading">Wining probability</span></h4>
                                </li>
                            </ul>
                        </div>
                        <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.pages.user_edit">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" >
                            <li class="uk-active"><a href="#">Tasks</a></li>
                            <li><a href="#">Personal info</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li style="height: 550px;">
                                <ng-include src="'front/app/components/leads/lead/scrum.tpl.html'"></ng-include>
                            </li>
                            <li>
                               
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

