<div class="scrum_board_overflow" >
    <div id="scrum_board" class="uk-clearfix">
        <div ng-repeat="group in task_groups">
            <div class="scrum_column_heading_wrapper">
                <div class="scrum_column_heading" data-uk-sticky="{ top: 48, media: 960 }">{{ group.name }}</div>
                <!-- <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a href="#add_task" data-uk-modal="{ center:true }">Add task</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Edit Column</a></li>
                            <li><a href="#" class="uk-text-danger">Delete Column</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="scrum_column">
                <div class="dragula dragula-vertical" dragula-scope="$parent" dragula='"tasks"' dragula-model='dragula_tasks' id="{{ group.id }}">
                    <div ng-repeat="task in tasks_list | filter: { group: group.id }">
                        <div class="scrum_task {{ task.status }}">
                            <h3 class="scrum_task_title"><a href="#task_info" data-uk-modal="{ center:true }" ng-click="taskInfo(task)">{{ task.name }}</a></h3>
                            <p class="scrum_task_description">{{ task.description }}</p>
                            <p class="scrum_task_info"><span class="uk-text-muted">Assignee:</span> <a href="#">{{ task.assignee }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" href="#add_task" data-uk-modal="{ center:true, bgclose:false }">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>
<!-- modals -->
<div class="uk-modal" id="add_task">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">{{ newTask.name }}</h3>
        </div>
        <ng-include src="'front/app/components/leads/lead/tasks/add_edit.html'" scope="" onload=""></ng-include>
    </div>
</div>
<div class="uk-modal" id="edit_task">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">{{ newTask.name }}</h3>
        </div>
        <ng-include src="'front/app/components/leads/lead/tasks/add_edit.html'" scope="" onload=""></ng-include>
        
    </div>
</div>