<ul class="uk-margin-top md-list ">
	<li>
		<div class="md-list-content">
			<span class="uk-text-small uk-text-muted">Email</span>
			<span class="md-list-heading">ufay@terrymueller.org</span>
		</div>
	</li>
	<li>
		<div class="md-list-content">
			<span class="uk-text-small uk-text-muted">Email</span>
			<span class="md-list-heading">ufay@terrymueller.org</span>
		</div>
	</li>
</ul>