<div id="page_content">
        <!-- Page heading -->
<!-- data-uk-sticky="{ top: 48, media: 960 }" -->
    <div id="page_heading" >
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-10">
                <h3 class="heading_b" style="margin-top:8px"><i class="md-icon material-icons">contact_phone</i> Contacts</h3>
            </div>
            <div class="uk-width-medium-2-5">
                <div class="uk-vertical-align">
                    <div class="uk-vertical-align-middle">
                        <ul ng-init="list = 'individuals'" class="uk-subnav uk-subnav-pill uk-margin-remove">
                            <li ng-class="{'uk-active': list == 'individuals'}"><a href="" ng-click="list = 'individuals'">Individuals</a></li>
                            <li ng-class="{'uk-active': list == 'companies'}"><a ng-click="list = 'companies'" href="">Companies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="uk-width-medium-1-5 ">
                <label for="contact_list_search">Search contacts</label>
                <input class="md-input" type="text" id="contact_list_search" ng-model="filter.search" md-input />
            </div>
           
            <div class="uk-width-medium-1-5">
                <div class="heading_actions">
                    <!-- <a href="" data-uk-tooltip="{pos:'bottom'}" title="Archive"><i class="md-icon material-icons">&#xE149;</i></a>
                    <a href="" data-uk-tooltip="{pos:'bottom'}" title="Print"><i class="md-icon material-icons">&#xE8AD;</i></a> -->
                    <div data-uk-dropdown>
                        <i class="md-icon material-icons">&#xE5D4;</i>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav">
                                <li><a ng-click="getArchived()">show archived</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </div>
    <div id="page_content_inner">
        
        <!-- List -->
        <div ng-if="list == 'individuals'">
            <ng-include src="'front/app/components/contacts/individuals/list.html'"></ng-include>
        </div>
        <div ng-if="list == 'companies'">
            <ng-include src="'front/app/components/contacts/companies/list.html'"></ng-include>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent md-fab-wave-light" data-uk-modal="{target:'#add_contact'}">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>
<!-- modals -->
<div class="uk-modal" id="add_contact">
    <div class="uk-modal-dialog">
        
        <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom">
            <div class="uk-width-1-3" >
                <p>
                    <input type="radio" name="customer_type" id="radio_demo_1" icheck ng-model="list" value="individual" ng-change="list = 'individuals'" ng-checked="list =='individuals'"/>
                    <label for="radio_demo_1" class="inline-label">Person</label>
                </p>
            </div>
            <div class="uk-width-1-3" >
                <p>
                    <input type="radio" name="customer_type" id="radio_demo_2" icheck ng-model="list" value="company" ng-change="list = 'companies'" ng-checked="list =='companies'" />
                    <label for="radio_demo_2" class="inline-label">Company</label>
                </p>
            </div>
        </div>
        <div ng-show="list == 'companies'">
            <ng-include src="'front/app/components/contacts/companies/add.html'" scope="" onload=""></ng-include>
        </div>
        <div ng-show="list == 'individuals'">
            <ng-include src="'front/app/components/contacts/individuals/add.html'" scope="" onload=""></ng-include>
        </div>
    </div>
</div>