<div id="page_content">
	<div id="page_heading">
		<div class="uk-grid" data-uk-grid-margin>
			<div class="uk-width-medium-2-10">
				<h3 class="heading_b" style="margin-top:8px"><i class="md-icon material-icons">star</i> Leads</h3>
			</div>
			<div class="uk-width-medium-1-5" style="margin-top:8px;">
				<input config="{create:false, labelField:'name', valueField:'name' , placeholder:'Tags' , searchField:'name' , maxItems:100}" options="leadsTags" position="bottom" ng-model="filter.tags" required selectize></input>
			</div>
			
			<div class="uk-width-medium-1-5 ">
				<label for="contact_list_search">Search leads</label>
				<input class="md-input" type="text" id="contact_list_search" ng-model="filter.search" md-input />
			</div>
			<div class="uk-width-medium-1-5">
				
			</div>
			<div class="uk-width-medium-1-5">
				
			    <div class="heading_actions">
			        <a href="" data-uk-tooltip="{pos:'bottom'}" title="Archive"><i class="md-icon material-icons">&#xE149;</i></a>
			        <a href="" data-uk-tooltip="{pos:'bottom'}" title="Print"><i class="md-icon material-icons">&#xE8AD;</i></a>
			        <div data-uk-dropdown>
			            <i class="md-icon material-icons">settings</i>
			            <div class="uk-dropdown uk-dropdown-small">
			                <ul class="uk-nav">
			                    <li><a ui-sref="restricted.leads.index.tags">Manage Tags</a></li>
			                    <!-- <li><a href="#leads_tags" data-uk-modal={ center:true, bgclose:false, modal:false }>Manage Tags</a></li> -->
			                    <li><a href="">Other Action</a></li>
			                    <li><a href="">Other Action</a></li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div id="page_content_inner">
		<!-- Leads list -->
		<div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-5 uk-text-center uk-sortable sortable-handler" id="leads" data-uk-sortable>
			<div ng-repeat="lead in leads">
				<div   ng-class="{'md-card-danger' : lead.status =='danger' }" class="md-card md-card-hover md-card-overlay uk-margin-medium-bottom" >
					<div ui-sref="restricted.leads.lead({lead_id:lead.id})" class="md-card-content" style="height:auto; cursor:pointer;" >
						<div class="epc_chart" easypiechart options="epc_orders" percent="lead.wining_prob">
							<span class="epc_chart_text"><span class="countUpMe">{{lead.wining_prob}}</span>%</span>
						</div>
						<ul class="uk-margin-top md-list ">
							<li>
								<div class="md-list-content">
									<span class="uk-text-small uk-text-muted">Value</span>
									<span class="md-list-heading">{{lead.potential_value | currency}}</span>
								</div>
							</li>
							<li>
								<div class="uk-flex uk-flex-wrap uk-flex-space-around">
									<div class="uk-flex-center" ng-repeat="tag in lead.tags">
										<span class="uk-badge uk-badge-success"> {{tag}} </span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="md-card-overlay-content">
						<div class="uk-clearfix md-card-overlay-header">
							<card-overlay-toggle></card-overlay-toggle>
							<h3>
							<i ng-if="lead.customer.type =='person'" class="material-icons">face</i>
							<i ng-if="lead.customer.type =='company'" class="material-icons">location_city</i>
							{{lead.customer.name}}
							</h3>
						</div>
						{{lead.description}}
					</div>
				</div>
				
			</div>
		</div>
		<!-- Lead page-->
		
	</div>
</div>
<div class="md-fab-wrapper">
	<a class="md-fab md-fab-accent md-fab-wave-light" ng-click="openAddLeadModal()">
		<i class="material-icons">&#xE145;</i>
	</a>
</div>
<!-- modals -->
<div class="uk-modal" id="add_lead">
	<div class="uk-modal-dialog">
		<div class="uk-modal-header">
			<h3 class="uk-modal-title"> <i class="material-icons">add</i> Add new lead</h3>
		</div>
		<form ng-submit="addLead(lead)">
			<ng-include src="'front/app/components/leads/lead/add_edit_lead.tpl.html'"></ng-include>
			<div class="uk-modal-footer uk-text-right">
				<button type="button" class="md-btn md-btn-flat md-btn-wave uk-modal-close">Cancel</button><button type="submit" class="md-btn md-btn-primary md-btn-wave-light">add</button>
			</div>
		</form>
	</div>
</div>
<!-- tags -->
<div ui-view></div>
<!-- add person -->
<div class="uk-modal" id="add_contact">
    <div class="uk-modal-dialog">
        
        <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom">
            <div class="uk-width-1-3" >
                <p>
                    <input type="radio" name="customer_type" id="radio_demo_1" icheck ng-model="list" value="individual" ng-change="list = 'individuals'" ng-checked="list =='individuals'"/>
                    <label for="radio_demo_1" class="inline-label">Person</label>
                </p>
            </div>
            <div class="uk-width-1-3" >
                <p>
                    <input type="radio" name="customer_type" id="radio_demo_2" icheck ng-model="list" value="company" ng-change="list = 'companies'" ng-checked="list =='companies'" />
                    <label for="radio_demo_2" class="inline-label">Company</label>
                </p>
            </div>
        </div>
        <div ng-show="list == 'companies'">
            <ng-include src="'front/app/components/contacts/companies/add.html'" scope="" onload=""></ng-include>
        </div>
        <div ng-show="list == 'individuals'">
            <ng-include src="'front/app/components/contacts/individuals/add.html'" scope="" onload=""></ng-include>
        </div>
    </div>
</div>