<div class="uk-modal" id="add_tag">
	<div class="uk-modal-dialog">
		<div class="uk-modal-header">
			<h3 class="heading_c"> Add new tag</h3>
		</div>
		<form ng-submit="addTag()">
			<div class="uk-grid uk-margin-medium-bottom">
			    <div class="uk-width-large-1-1 uk-margin-bottom">
			        <div class="parsley-row">
			            <label>Tag name<span class="req">*</span></label>
			            <input ng-model="tag.name" type="text" required class="md-input" md-input />
			        </div>
			    </div>
			    <div class="uk-width-2-10">
			    	<h3 class="heading_c">Tag color</h3>
			    </div>
		       <div class="uk-width-8-10" data-uk-button-radio="{target:'.md-btn'}">
		            <a ng-click="tag.type = 'primary'" class="md-btn md-btn-flat md-btn-flat-primary" href="javascript:void(0)" data-uk-button>Primary</a>
		            <a ng-click="tag.type = 'yellow'" class="md-btn md-btn-flat md-btn-flat-warning" href="javascript:void(0)" data-uk-button>Yellow</a>
		            <a ng-click="tag.type = 'red'" class="md-btn md-btn-flat md-btn-flat-danger" href="javascript:void(0)" data-uk-button>Red</a>
		            <a ng-click="tag.type = 'green'" class="md-btn md-btn-flat md-btn-flat-success" href="javascript:void(0)" data-uk-button>Green</a>
		       </div>
			</div>
			<button type="button" class="md-btn md-btn-flat md-btn-wave uk-modal-close">Cancel</button><button type="submit" class="md-btn md-btn-primary md-btn-wave-light">Add</button>
		</form>
	</div>
</div>