<div class="uk-modal" id="leads_tags">
	<div class="uk-modal-dialog">
		<div ng-show="leadsTags.length>0" class="uk-overflow-container">
		    <table class="uk-table">
		        <thead>
		        <tr>
		            <th class="uk-text-nowrap">Tag</th>
		            <th class="uk-text-nowrap">Color</th>
		            <th class="uk-text-nowrap uk-text-right">Actions</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr ng-repeat="tag in leadsTags" class="uk-table-middle">
		            <td class="uk-width-3-10 uk-text-nowrap"><a href="scrum_board.html"> {{tag.name}} </a></td>
		            <td class="uk-width-2-10 uk-text-nowrap"><span class="uk-badge" ng-class="{'uk-badge-success':tag.type == 'green' , 'uk-badge-danger':tag.type == 'red' , 'uk-badge-warning':tag.type == 'yellow'  , 'uk-badge-primary':tag.type == 'primary' }">{{tag.type}}</span></td>
		            <td class="uk-width-2-10 uk-text-right uk-text-muted uk-text-small"><a href=""><i ng-click="deleteTag(tag.id)" class="md-icon material-icons uk-text-danger">delete</i></a></td>
		        </tr>
		        </tbody>
		    </table>
		</div>
		<div ng-show="leadsTags.length == 0">
			<h3 class="heading_c">You don't have any tags</h3>
		</div>
		<div class="uk-grid uk-margin-medium-top uk-text-center">
			<div class="uk-grid-width-auto">
				<a class="md-btn md-btn-primary md-btn-block md-btn-wave-light" href="#add_tag" data-uk-modal={modal:false}>Add new tag</a>
			</div>
		</div>
		
		<div class="uk-modal-footer uk-text-right">
			<button type="button" class="md-btn md-btn-flat md-btn-wave uk-modal-close">Close</button>
		</div>

	</div>
</div>
<ng-include src="'front/app/components/leads/tags/add.html'" scope="" onload=""></ng-include>