<div class="uk-grid">
    <div class="uk-width-large-1-3 uk-margin-bottom">
        <div class="parsley-row">
            <label>Full Name<span class="req">*</span></label>
            <input ng-model="company.name" type="text" required class="md-input" md-input />
        </div>
    </div>
    
    <div class="uk-width-large-1-3 uk-margin-bottom">
        <div class="parsley-row">
            <label >Mobile<span class="req">*</span></label>
            <input ng-model="company.phone" type="text" required class="md-input" md-input />
        </div>
    </div>
    <div class="uk-width-large-1-3 uk-margin-bottom">
        <div class="parsley-row">
            <label for="email">Email<span class="req">*</span></label>
            <input ng-model="company.email" id="email" type="email" name="email" data-parsley-trigger="change" required  class="md-input" md-input />
        </div>
    </div>
    <div class="uk-width-medium-1-1 uk-margin-bottom">
        <div class="parsley-row">
            <label >Address</label>
            <input ng-model="company.address" type="text" required class="md-input" md-input />
        </div>
    </div>
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="parsley-row">
            <label for="message">Description</label>
            <textarea ng-model="company.description" id="message" class="md-input" name="message" cols="10" rows="2" md-input ng-model="validation_form.message" data-parsley-trigger="keyup" data-parsley-validation-threshold="10" data-parsley-minlength-message = "Come on! You need to enter at least a 20 caracters long comment.."></textarea>
        </div>
    </div>
</div>