<div class="uk-modal" id="edit_company">
	<div class="uk-modal-dialog">
		<form ng-submit="updateCompany(company)" class="uk-form-stacked">
			<ng-include src="'front/app/components/contacts/companies/add_edit.tpl.html'" scope="" onload=""></ng-include>
			<div class="uk-modal-footer uk-text-right">
				<button type="button" class="md-btn md-btn-flat md-btn-wave uk-modal-close">Cancel</button><button type="submit" class="md-btn md-btn-primary md-btn-wave-light">Save</button>
			</div>
		</form>
	</div>
</div>