<div class="uk-grid" ng-controller="companiesCtrl">
  <h3 ng-if="companies.length == 0 && companiesLoaded == true" class="heading_b uk-margin-bottom">There are no companies available at the moment </h3>
  <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-5 uk-margin-bottom uk-text-center"  ng-repeat="company in companies">
    <div class="md-card md-card-hover" style="cursor:pointer;" ng-class="{'md-card-danger': company.deleted}">
      <div class="md-card-head " style="height:auto;">
        <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
          <i class="md-icon material-icons" ng-class="{'md-icon-light' : userType=='supplier'}">&#xE5D4;</i>
          <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav">
              <li><a ng-click="editCompany(company)"> Edit </a></li>
              <li ng-show="!company.deleted"><a ng-click="deleteCompany(company.id)" class="uk-text-warning"> archive </a></li>
              <li ng-show="company.deleted"><a ng-click="deleteCompany(company.id)" class="uk-text-danger"> Delete permenatly </a></li>
              <li ng-show="company.deleted"><a ng-click="restoreCompany(company.id)"> restore </a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="md-card-content">
        <i class="material-icons md-48">domain</i>
        <!-- <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/user.png" alt=""/> -->
        <div class="uk-margin-top">
          <h4> {{company.name}}</h4>
          <span class="uk-text-small uk-text-muted"><i class="material-icons uk-margin-small-right">phone</i> {{company.phone}}</span><br>
          <span ng-show="company.email" class="uk-text-small uk-text-muted uk-text-truncate"><i class="material-icons uk-margin-small-right">email</i>{{company.email}}</span>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'front/app/components/contacts/companies/edit.html'" scope="this"></ng-include>
</div>