<div class="uk-grid" ng-controller="individualesCtrl">
  <h3 ng-if="individuals.length == 0 && individualsLoaded == true" class="heading_b uk-margin-bottom">There are no individuals available at the moment </h3>
  <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-5 uk-margin-bottom uk-text-center"  ng-repeat="individual in individuals">
    <div class="md-card md-card-hover" style="cursor:pointer;" ng-class="{'md-card-danger':individual.deleted}">
      <div class="md-card-head " style="height:auto;">
        <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
          <i class="md-icon material-icons" ng-class="{'md-icon-light' : userType=='supplier'}">&#xE5D4;</i>
          <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav">
              <li><a ng-click="editIndividual(individual)"> Edit </a></li>
              <li ng-show="!individual.deleted"><a ng-click="deleteIndividual(individual.id)" class="uk-text-warning"> archive </a></li>
              <li ng-show="individual.deleted"><a ng-click="deleteIndividual(individual.id)" class="uk-text-danger"> Delete permenatly </a></li>
              <li ng-show="individual.deleted"><a ng-click="restoreIndividual(individual.id)"> restore </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="md-card-content">
        <i class="material-icons md-48">person</i>
        <!-- <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/user.png" alt=""/> -->
        <div class="uk-margin-top">
          <h4> {{individual.name}}</h4>
          <span class="uk-text-small uk-text-muted"><i class="material-icons uk-margin-small-right">phone</i> {{individual.phone}}</span><br>
          <span ng-show="individual.email" class="uk-text-small uk-text-muted uk-text-truncate"><i class="material-icons uk-margin-small-right">email</i>{{individual.email}}</span>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'front/app/components/contacts/individuals/edit.html'" scope="this"></ng-include>
</div>