<form class="uk-form-stacked">
    <div class="uk-margin-medium-bottom">
        <label for="task_title">Title</label>
        <input type="text" class="md-input" id="Task_title" name="snippet_title" ng-model="newTask.title" md-input/>
    </div>
    <div class="uk-margin-medium-bottom">
        <label for="task_description">Description</label>
        <textarea class="md-input" id="task_description" name="task_description" ng-model="newTask.description" md-input></textarea>
    </div>
    <div class="uk-margin-medium-bottom">
        <label for="task_assignee" class="uk-form-label">Assignee</label>
        <input config="newTask_assignee_config" options="newTask_assignee" ng-model="newTask.assignee" id="task_assignee" name="task_assignee" selectize />
    </div>
    <div class="uk-margin-medium-bottom">
        <label for="task_group" class="uk-form-label">Group</label>
        <input config="newTask_group_config" options="newTask_group" ng-model="newTask.group" id="task_group" name="task_group" selectize />
    </div>
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label">Priority</label>
        <div>
            <span class="icheck-inline">
                <input type="radio" name="task_priority" id="task_priority_minor" ng-model="newTask.priority" value="minor" icheck />
                <label for="task_priority_minor" class="inline-label uk-badge uk-badge-success">MINOR</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="task_priority" id="task_priority_critical" ng-model="newTask.priority" value="critical" icheck />
                <label for="task_priority_critical" class="inline-label uk-badge uk-badge-warning">CRITICAL</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="task_priority" id="task_priority_blocker" ng-model="newTask.priority" value="blocker" icheck />
                <label for="task_priority_blocker" class="inline-label uk-badge uk-badge-danger">BLOCKER</label>
            </span>
        </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button><button type="button" class="md-btn md-btn-flat md-btn-flat-primary" id="snippet_new_save">Add Task</button>
    </div>
</form>